
<h2>Create a New Sample Record</h2>
<%= form_tag(controller: "input_form", action: "create", method: "post") do %>
  <%= hidden_field_tag(:user, current_user.id) %>
  <div class="panel-group">
    <div class="panel">
      <div class="panel-body">
        <h3>Images</h3>
        <div class="row">
          <div class="col-xs-6 col-md-3">
            <button type="button" class="btn btn-info btn-md">Upload</button>
            <div class="caption">
              <p>Object Image</p>
            </div>
          
          </div>
          <div class="col-xs-6 col-md-3">
            <button type="button" class="btn btn-info btn-md">Upload</button>
            <div class="caption">
              <p>Chromatogram Image</p>
            </div>
          
          </div>
        </div>
      </div>
    </div>
    <div class="panel">
      <div class="panel-body">
        <div class="well">
          <h3>Basic Sample Information</h3> 
          <ul class="list-group">
            <li class="list-group-item">
              <%= label_tag(:catalog_number, "Object Accession Number") %>
              <%= text_field_tag(:catalog_number) %>
            </li>
            <li class="list-group-item">
              <%= label_tag(:current_location, "Object Current Location") %>
              <%= text_field_tag(:current_location) %>
            </li>
            <li class="list-group-item">
              <%= label_tag(:object_type, "Object Type") %>
              <%= text_field_tag(:object_type) %>
            </li>
            <li class="list-group-item">
              <%= label_tag(:site, "Excavation Site") %>
              <%= text_field_tag(:site) %>
            </li>
            <li class="list-group-item">
              <%= label_tag(:site_region, "Site Region") %>
              <%= text_field_tag(:site_region) %>
            </li>
            <li class="list-group-item">
              <%= label_tag(:ora_number, "ORA ID Number") %>
              <%= text_field_tag(:ora_number) %>
            </li>
            <li class="list-group-item">
              <%= label_tag(:sample_type, "ORA Sample Type") %>
              <%= select_tag(:sample_type, 
                  options_for_select(
                  [['Reference', 'reference'], 
                  ['New Excavation', 'new excavation'], 
                  ['Legacy Object', 'legacy object']])) %>
            </li>
            <li class="list-group-item">
              <%= label_tag(:sample_quality, "ORA Sample Quality") %>
              <%= select_tag(:sample_quality, 
                  options_for_select(
                  [['Closed intact, in situ', 5], 
                  ['Open intact/Closed fragmented, in situ', 4],
                  ['Diagnostic sherd, unwashed', 3],
                  ['Any washed on site/Legacy unwashed', 2],
                  ['Any washed or treated', 1]])) %>  
            </li>
            <li class="list-group-item">
              <%= label_tag(:sample_quality_notes, "Sample Quality Notes") %>
              <%= text_area_tag(:sample_quality_notes) %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <h2> <%= submit_tag("Submit") %> Or Add More Details Below </h2>
    
    <div class="panel" id="accordion">
      
        <div class="panel-body">
          <h3><a data-toggle="collapse" data-parent="#accordion" href="#collapse_compound">Sample Details</a></h3>
          
          <div id="collapse_compound" class="panel-collapse collapse">
            <div class="well" >
             <ul class="list-group">                    
              <li class="list-group-item">
                <h4>Compound Identification</h4>
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Diagnostic Compounds</th>
                        <th>Proposed Sources</th>
                        <th>Probable Ingredients</th>
                      </tr>
                    </thead>
                    <tbody id="comp_table">
                      <tr>
                        <td>
                          <%= text_field_tag(:diagnostic_compound, nil, autofocus: true) %>
                          <div class="results" id="diagnostic_results"></div>
                        </td>
                        <td>
                          <%= select_tag(:proposed_source, options_for_select([])) %>
                        </td>
                        <td>
                          <%= text_field_tag(:probable_ingredient) %>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div> 
                <script> comps($('#diagnostic_compound'), $('#diagnostic_results')) </script>
                <button type="button" class="btn btn-info btn-lg" id="compound_btn" onclick="AddCompoundFields()">Add a Compound</button>
              </li>

              <li class="list-group-item">
                <%= label_tag(:interpretation, "Proposed Interpretation") %>
                <%= text_field_tag(:interpretation) %>
              </li>

              <li class="list-group-item">
                <%= label_tag(:interpretation_certainty, "Interpretation Certainty") %>
                <%= text_field_tag(:interpretation_certainty) %>
              </li>

              <li class="list-group-item">
                <%= label_tag(:interpretation_notes, "Interpretation Notes") %>
                <%= text_area_tag(:interpretation_notes) %>
              </li>

              
            </ul>
          </div>
        </div> 
        <h3><a data-toggle="collapse" data-parent="#accordion" href="#collapse_obj">Object Details</a></h3>
          
          <div id="collapse_obj" class="panel-collapse collapse">
            <div class="well" >
            <ul class="list-group">

              <li class="list-group-item">
                <%= label_tag(:object_condition, "Object Condition") %>
                <%= text_field_tag(:object_condition) %>
              </li>

              <li class="list-group-item">
                <%= label_tag(:object_date, "Object Date, Relative") %>
                <%= text_field_tag(:relative_date) %>
              </li>

              <li class="list-group-item">
                <%= label_tag(:object_date, "Object Date, Absolute") %>
                <%= text_field_tag(:absolute_date) %>
              </li>
       
              <li class="list-group-item">
                <%= label_tag(:object_fabric, "Object Fabric Type") %>
                <%= text_field_tag(:object_fabric) %>
              </li>

              <li class="list-group-item">
                <p> Petrography File upload will go here</p>
              </li>

              <li class="list-group-item">
                <%= label_tag(:excavation_team, "Original Excavation Team") %>
                <%= text_field_tag(:excavation_team) %>
              </li>

              <li class="list-group-item">
                <%= label_tag(:excavation_date, "Excavation Date") %>
                <%= text_field_tag(:excavation_date) %>
              </li>

              <li class="list-group-item">
                <%= label_tag(:excavation_notes, "Excavation Notes") %>
                <%= text_area_tag(:excavation_notes) %>
              </li>
          
              <li class="list-group-item">
                <%= label_tag(:context, "Context") %>
                <%= text_field_tag(:context) %>
              </li>
        
              <li class="list-group-item">
                <%= label_tag(:object_biblio, "Relevant Bibliography") %>
                <%= text_area_tag(:object_biblio) %>
              </li>
            </ul>
        </div>
        
        
      </div>
    </div>
    
  </div>
  <%= submit_tag("Submit") %>
<% end %>


  <div id="add_compound" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <%= form_tag(controller: "input_form", action: "mini_compound", method: "post") do %>
            <h3>Create a New Compound</h3>
            <ul class="list-group">
              <li class="list-group-item">
                <%= label_tag(:compound_formula, "Formula") %>
                <%= text_field_tag(:compound_formula) %>
              </li>
              <li class="list-group-item">
                <%= label_tag(:compound_name, "Name") %>
                <%= text_field_tag(:compound_name) %>
              </li>
              <li class="list-group-item">
                <%= label_tag(:nist_url, "NIST Webbook URL") %>
                <%= text_field_tag(:nist_url) %>
              </li>
            </ul>
            <%= submit_tag("Submit") %>
            
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>