  
  <div class="panel" id="accordion">
    <div class="panel-heading" role="tab" id="detail_rec">
      <h2>
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse_detail">Detailed Record</a>
      </h2>
    </div>

    <div id="collapse_detail" class="panel-collapse collapse">
      <div class="panel-body">

        <% details_hash.each do |key, value| %>
          <div class="well">
          <h3><%= key %></h3>
            <ul class="list-group">
              <% value.attributes.each do |k, v| %>
               <% unless k == "created_at" || k == "updated_at" || k == "id" || v == "" || v == nil || v == summary_info["oa_id"] %>
                  <li class="list-group-item">
                    <b><%= k.gsub("_", " ").capitalize %>: </b> 
                    <% if v =~ /oa2017/ %>
                      <%= link_to v, v %>
                    <% elsif k == "sample_quality" %>
                      <%= summary_info["sample_quality"] %>
                    <% else %>
                      <%= v %>
                    <% end %>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </div>

        <% end %>
      </div>
    </div>
  </div>