

<div id="getting-started">
  <h2 class='section-heading'>Welcome to OpenARCHEM</h2>
  <p>We are in the process of building, please stay tuned! In the meantime, you can look at our current test data and visit our general blog <a href="http://openarchem.wordpress.com">here for more information</a>. If you have suggestions or feedback, <%= link_to "please email them to us", "https://openarchem.files.wordpress.com/2017/11/oa-feedback-form.pdf"%>!</p>

  <h3>Our Data</h3>
  <p>Currently our Organic Residue Analysis (ORA) data comes from the ARCHEM project but we invite potential contributors to contact us about setting up accounts to add your data. In the future we hope to expand beyond ORA data into other methods of archaeometry.</p>
  <p>Descriptions of objects and sites are adapted from museum catalogs and publications. Whenever possible, ceramic objects will be linked to petrographic data provided either by ourselves or by complementary databases such as the <%= link_to "Levantine Ceramics Project", "https://www.levantineceramics.org/", target: "_blank" %>.</p>
  <p>Information on the plants, compounds, and texts comes from a number of databases, most notably <%= link_to "Dr. Duke's Phytochemical and Ethnobotanical Databases", "https://phytochem.nal.usda.gov/phytochem/search", target: "_blank" %>, the <%= link_to "NIST Chemistry Webbook", "http://webbook.nist.gov/chemistry/", target: "_blank" %>, and the <%= link_to "Perseus Digital Library", "http://www.perseus.tufts.edu/hopper/", target: "_blank" %>. We provide links out to these databases and more throughout our site and hope visitors will find them useful sources of additional information.</p>
  <p>When we have 3D models for ORA source objects, we host them on <%= link_to "Sketchfab", "http://sketchfab.com/", target: "_blank" %> and provide an embedded viewer for examining the models.</p>
</div>

