<%# displays the smaller, collapsable portions in the document views %>

		<div class="panel">
			<div class="panel-heading" role="tab" id="<%= "heading" + "#{num}" %>">
		       
				<dt><%= "#{name}" %></dt>
				<dd>
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="<%= "#collapse" + "#{num}" %>" aria-controls="<%= "collapse" + "#{num}" %>">

		         <%= "#{data['display']}" %> 
		         <span class="glyphicon glyphicon-minus"/> 
		      </a>
		    </div>
		    <div id="<%= "collapse" + "#{num}" %>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="<%= "heading" + "#{num}" %>">
		      <div class="panel-body">
		      	
		        <dl class="dl-horizontal  dl-invert">
		        	<% data.each do |key, val| %>
		        		<% unless val == nil || key == ""  %>
			        		<% unless key == "display" %>
			        			<dt><%= "#{key.gsub("_", " ").capitalize}" %></dt>
			        			<dd><%= key == "image_file_path" ? render_value(val, data["image_credit"]) : render_value(val) %></dd>
			        		<% end -%>
			        	<% end -%>
		        	<% end -%>

		        	<dt></dt>
		        	<dd><%= link_to "Click here to see more information", oa_id %>

		        </dl>
		      </div>
		    </div>
		  </div>
