<% if defined? type %>
  <!-- Modern bib modal -->
  <div id="bib_modal_<%= type %>" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <% bib.each do |rec| %>
           <%= rec %> </br>
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<% else %>
  <!-- Ancient Ref modal  -->
  <div id="ref_modal<%= val[8][0]["oa_id"] %>" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body"> 
          <% val[8].each do |a_ref| %>
            <p><%= a_ref["excerpt_eng"] %></p>
            <p><%= a_ref["author"] if a_ref["author"] %> <%= link_to a_ref["work"], a_ref["link"], target: :_blank %>
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
<% end %>