<% summary_info = data_hashes["show_hash"] %>
<% table_info = data_hashes["table_info"] %>
<div class="panel-group">
  <div class="panel">
    <% if data_hashes.has_key?("image_hash") %>
        <%= render :partial => "thumbnails" , :locals => {:image_hash => data_hashes["image_hash"]} %>
    <% end %>
  </div>
  <div class="panel">
    <div class="panel-heading">
      <h2>Record Summary</h2>
    </div>
    <div class="panel-body">
      <div class="well">
        <h3>Sample Information</h3> 
         <ul class="list-group">
          <li class="list-group-item"><b>Sample Type:</b> <%= summary_info["sample_type"] %> </li>
          <li class="list-group-item"><b>Sample Quality:</b> <%= summary_info["sample_quality"] %> </li>
          
          <li class="list-group-item">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Diagnostic Compounds</th>
                    <th>Proposed Sources</th>
                    <th>Probable Ingredients</th>
                  </tr>
                </thead>
                <tbody>
                  <% table_info.each do |key, val| %>
                    <tr>
                      <td>
                        <%= link_to key, val[0] %> </br>
                        <a href="<%= val[1] %>" class="btn btn-success btn-xs" role="button" target="_blank">Duke's</a>
                        <a href="<%= val[2] %>" class="btn btn-warning btn-xs" role="button" target="_blank">NIST</a>
                      </td>
                      <td>
                        <i><%= link_to val[3], val[4] %></i>  </br>
                        <a href="<%= val[5] %>" class="btn btn-success btn-xs" role="button" target="_blank">Duke's</a>
                        <% unless val[6] == nil %>
                          <a href="<%= val[6] %>" class="btn btn-default btn-xs" role="button" target="_blank">Flora</a>
                        <% end %>
                      </td>
                      <td>
                        <%= val[7] %> </br>
                        <% unless val[8].empty? %>
                          <a href="#" class="btn btn-danger btn-xs" role="button" data-toggle="modal" data-target="#ref_modal<%= val[8][0]["oa_id"] %>">Ancient Ref.</a>
                          <%= render :partial => "modals", :locals => {:anc_ref => val[8]} %>
                          
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div> 
          </li>

          <li class="list-group-item"><b>Interpreted Product:</b> <%= link_to summary_info["final_identification"][0], summary_info["final_identification"][1] %> </li>
        </ul> 
    
      </div>
     
      <div class="well">
        <h3>Sample Source Information</h3>
          <ul class="list-group">
            <li class="list-group-item">
              <b>Source:</b> 
              <%= link_to summary_info["source"][1], summary_info["source"][0] %>
              <% if summary_info["source"][2] %>  </br>    
                <button type="button" class="btn btn-info btn-xs " data-toggle="modal" data-target="#bib_modal_ref">Ref.</button>
                <%= render :partial => "modals", :locals => {:bib => summary_info["source"][2], :type => "ref"} %>
              <% end %>
            </li>
            <li class="list-group-item"><b>Find Site:</b> <%= link_to summary_info["find_site"][1], summary_info["find_site"][0] %>
              <% if summary_info["find_site"][2] %> </br>
                 <a href="<%= summary_info["find_site"][2] %>" class="btn btn-primary btn-xs" role="button" title="Site requires signup" target="_blank">Atlas</a>
              <% end %>
            </li>
            <li class="list-group-item"><b>Date Relative:</b> <%= summary_info["date_rel"] %></li>
            <li class="list-group-item"><b>Date Absolute:</b> <%= summary_info["date_abs"] %></li>
            <li class="list-group-item"><b>Production Location:</b> <%= summary_info["prod_location"] %></li>
            <li class="list-group-item"><b>Current Location:</b> <%= link_to summary_info["curr_location"], summary_info["url"] %></li>
          </ul>
      </div>
      
      <% unless summary_info["biblio"].nil? %>
        <div class="well">
          <h3>Bibliography</h3>
          <ul class="list-group">   
            <% summary_info["biblio"].each do |bib| %>
              <li class="list-group-item">
                <%= bib %>
              </li>
            <% end %>          
          </ul>
        </div>
      <% end %>
    </div>
  </div>
  <%= render :partial => "detailed_rec" , :locals => {:summary_info => summary_info, :details_hash => data_hashes["details_hash"]} %>
</div>

