  <div class="row">
    <% image_hash.each do |key, val| %>
        <div class="col-xs-6 col-md-3">
          
          <a href="#" class="thumbnail" data-toggle="modal" data-target="#myModal<%= key %>">
            <% unless val[3] %>
              <%= image_tag(val[1], :alt => key) %>
            <% else %>
              Click for 3D Model
            <% end %>
          </a>
          <div class="caption">
            <p><%= val[2] %></p>
          </div>
          
        </div>
      

        <div id="myModal<%= key %>" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <%= val[2] %>
              </div>
              <div class="modal-body">
                <% unless val[3] %>
                  <%= link_to image_tag(val[1], style: 'height:auto;width:100%;'), val[0], target: :_blank %>
                <% else %>
                  <div class="sketchfab-embed-wrapper"><iframe width="560" height="480" src=<%="#{val[3]}"%> frameborder="0" allowvr allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe></div>
                <% end %>
              </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>

          </div>
       
    <% end %>
  </div>
