<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	  <!-- Mobile viewport optimization h5bp.com/ad -->
	  <meta name="HandheldFriendly" content="True">
	  <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>OpenARCHEM</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  <body>
  	<div id='wrap'>
	  	<%= render :partial => 'shared/header_navbar' %>
	  	<div id="main-container" class="container">
	  		<!-- Top bar -->
        <div id="search-found" class="row hidden-phone">
          <%= topbar_items.join('').html_safe %>
        </div>
        <!-- /Top bar -->
        <div class="row">
            <div class="span12">
              <div id="main-flashes">
                <%= render :partial=>'/flash_msg' %>
              </div>
            </div>    
        </div>              

	    	<div class="row">
	    		<%= yield %>
	    	</div>
	    </div>
  
    </div>
    

    <%= render :partial => 'shared/footer' %>

  </body>
</html>
